<div class="wrapper">
    <header>
      <div id="text">
        <h1 style="color:rgb(243, 71, 100)">Contact Our </h1>
        <h1>Customer Support Center</h1>
      </div>
      <div id="lap-img">
        <img src="../assets/laptop.jpg" alt="">
      </div>
      
    </header>
    <body>
      <p>Please Fill out your contact information below</p>
      <div class="name-field">
      
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
     
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
      </div>
    
      <div class = "other-field">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
    
      </div>
    <div class="btn">
      <button mat-raised-button color="accent">Submit Form</button>
    
    </div>
      
    </body>
    
   
  
  
  
  
  
  </div>
  
  
  
